stages:
  - build_and_push_to_dockerhub
  - deploy

variables:
  DOCKER_HOST: tcp://docker:2375/
  DOCKER_TLS_CERTDIR: ""

build_and_push_job:
  stage: build_and_push_to_dockerhub
  image: docker:latest
  services:
    - docker:dind
  script:
    - echo "Building docker image..."
    - docker build -t potfolio-website:dev .
    - echo "Docker image built successfully."
    - echo "logining to docker hub..."
    - docker login -u "$DOCKERHUB_USERNAME" -p "$DOCKERHUB_PASSWORD"
    - docker tag potfolio-website:dev "$DOCKERHUB_USERNAME/potfolio-website:dev"
    - docker push "$DOCKERHUB_USERNAME/potfolio-website:dev"
    - echo "pushed to docker hub successfully."
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'

deploy_job:
  stage: deploy
  image: appleboy/drone-ssh
  script:
    - echo "Deploying to server..."
  # environment:
  #   name: production
  #   url: http://100.122.73.10
  only:
    - master
  variables:
    SSH_HOST: $SSH_HOST
    SSH_PORT: $SSH_PORT
    SSH_USER: $SSH_USER
    SSH_PASSWORD: $SSH_PASSWORD
    # SSH_KEY: $SSH_KEY
    # SSH_KEY_PASSPHRASE: $SSH_KEY_PASSPHRASE
    SCRIPT: |
      docker pull $DOCKERHUB_USERNAME/potfolio-website:dev
      docker stop potfolio-website || true
      docker rm potfolio-website || true
      docker run -d --name potfolio-website -p 80:80 $DOCKERHUB_USERNAME/potfolio-website:dev
