stages:
  - build_and_push_to_dockerhub
  - deploy

variables:
  DOCKER_HOST: tcp://docker:2375/
  DOCKER_TLS_CERTDIR: ""

build_and_push_job:
  stage: build_and_push_to_dockerhub
  image: docker:latest
  services:
    - docker:dind
  script:
    - echo "Building docker image..."
    - docker build -t potfolio-website:dev .
    - echo "Docker image built successfully."
    - echo "logining to docker hub..."
    - docker login -u "$DOCKERHUB_USERNAME" -p "$DOCKERHUB_PASSWORD"
    - docker tag potfolio-website:dev "$DOCKERHUB_USERNAME/potfolio-website:dev"
    - docker push "$DOCKERHUB_USERNAME/potfolio-website:dev"
    - echo "pushed to docker hub successfully."
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'

deploy_job:
  stage: deploy
  tags:
    - deploy
  image: appleboy/drone-ssh
  script:
    - echo "Deploying to server..."
  only:
    - master
  variables:
    SSH_HOST: 100.73.28.58
    SSH_PORT: 22
    SSH_USER: manager1
    # SSH_KEY: $SSH_KEY
    SCRIPT: |
      set -e
      echo "Deploying to server..."
      # Decode the key and save temporarily
      echo "$SSH_KEY_B64" | base64 -d > /tmp/deploy_key
      chmod 600 /tmp/deploy_key

      # Run commands on remote server using the temporary key
      ssh -i /tmp/deploy_key -o StrictHostKeyChecking=no $SSH_USER@$SSH_HOST "
        docker pull $DOCKERHUB_USERNAME/potfolio-website:dev
        docker rm -f potfolio-website || true
        docker run -d --name potfolio-website -p 80:80 $DOCKERHUB_USERNAME/potfolio-website:dev
      "
      echo "Deployment completed successfully."
